.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
  border: 2px solid #eaeaea;
  background: linear-gradient(0deg, #eaeaea, #eaeaea),
    linear-gradient(0deg, #fcfcfc, #fcfcfc);
  border-radius: 25px !important;
  padding: 10px 20px !important;
  margin-top: 5px !important;
  box-shadow: none !important;
}
.css-15v22id-MuiAccordionDetails-root {
  background-color: transparent !important;
  box-shadow: none !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  box-shadow: none !important;
  margin-top: 3%;
  position: none !important;
  border-radius: 30px !important;
}

.css-pwcg7p-MuiCollapse-root {
  background: #e3eeff !important;
}
.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  background: #e3eeff !important;
  border-end-end-radius: 0px !important;
  border-end-start-radius: 0px !important;
}
.css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
  font-weight: bold !important;
  color: #0066cc !important;
}
.css-yw020d-MuiAccordionSummary-expandIconWrapper.Mui-expanded {
  color: #0066cc !important;
}
.css-ahj2mt-MuiTypography-root {
  font-weight: bold !important;
  font-size: 20px !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}
